/* Estilizando o corpo do documento */
body {
    font-family: Arial, sans-serif; /* Definindo uma fonte genérica para todo o documento */
    line-height: 1.6; /* Definindo o espaçamento entre linhas */
    margin: 0; /* Removendo margens padrão */
    padding: 20px; /* Adicionando espaçamento interno */
}

/* Estilizando o título principal */
h2 {
    color: #333; /* Cor do texto */
    margin-top: 20px; /* Margem superior */
}

/* Estilizando os parágrafos */
p {
    margin-bottom: 10px; /* Margem inferior */
}

/* Estilizando a lista */
ul {
    list-style-type: none; /* Removendo os marcadores de lista */
    padding-left: 0; /* Removendo o preenchimento padrão da lista */
    margin-bottom: 20px; /* Margem inferior */
}

/* Estilizando os itens da lista */
li {
    margin-bottom: 5px; /* Margem inferior */
}

/* Estilizando os itens em negrito */
b {
    color: #000; /* Cor do texto em negrito */
}

/* Estilizando a linha horizontal */
hr {
    border: 0; /* Removendo a borda */
    border-top: 1px solid #ccc; /* Adicionando uma linha horizontal */
    margin: 20px 0; /* Margem superior e inferior */
}
